@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.unauthorized-page {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__content {
    text-align: center;
    max-width: 600px;
    width: 100%;
  }

  &__icon {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
    margin: 0 0 1rem 0;
  }

  &__message {
    font-size: 1.125rem;
    color: var(--text-secondary);
    margin: 0 0 2rem 0;
    line-height: 1.6;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
