/**
 * Storage Page Styles
 */

@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.storage-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: $spacing-12 $spacing-4;

  @include respond-to(sm) {
    padding: $spacing-12 $spacing-6;
  }

  @include respond-to(lg) {
    padding: $spacing-12 $spacing-8;
  }

  &__header {
    margin-bottom: $spacing-8;
  }

  &__title {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
    color: $gray-900;
    margin-bottom: $spacing-2;
  }

  &__subtitle {
    color: $gray-600;
  }

  &__error {
    margin-bottom: $spacing-6;
    padding: $spacing-4;
    background-color: $error-50;
    border: 1px solid $error-200;
    border-radius: $border-radius-lg;

    p {
      color: $error-800;
      margin: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-6;

    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.storage-provider-card {
  &__header {
    @include flex-start;
    margin-bottom: $spacing-4;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    margin-left: $spacing-4;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__icon-placeholder {
    width: 3rem;
    height: 3rem;
    background-color: $primary-100;
    border-radius: $border-radius-lg;
    @include flex-center;
    margin-left: $spacing-4;
    color: $primary-600;
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $gray-900;
    margin-bottom: $spacing-1;
  }

  &__description {
    font-size: $font-size-sm;
    color: $gray-600;
  }

  &__status {
    @include flex-between;
    margin-bottom: $spacing-4;
  }

  &__status-label {
    font-size: $font-size-sm;
    color: $gray-600;
  }

  &__status-badge {
    padding: $spacing-1 $spacing-2;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    border-radius: $border-radius-sm;

    &--connected {
      color: $success-600;
      background-color: $success-50;
    }

    &--pending {
      color: $warning-600;
      background-color: $warning-50;
    }

    &--expired,
    &--error {
      color: $error-600;
      background-color: $error-50;
    }

    &--disconnected {
      color: $gray-600;
      background-color: $gray-50;
    }
  }

  &__actions {
    @include flex-start;
    gap: $spacing-2;
  }

  &__action-button {
    flex: 1;
  }
}
