/**
 * Skip Link Styles
 */

@use '../../../styles/variables' as *;

.skipLink {
  position: absolute;
  top: -40px;
  left: 0;
  background: $primary-600;
  color: white;
  padding: $spacing-2 $spacing-4;
  text-decoration: none;
  z-index: 1000;
  border-radius: 0 0 $border-radius-md 0;
  font-weight: $font-weight-medium;
  transition: top 0.2s ease;

  &:focus {
    top: 0;
    outline: 2px solid $primary-500;
    outline-offset: 2px;
  }

  &:hover {
    background: $primary-700;
  }
}
