/**
 * PowerPoint Viewer Styles
 */

@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.powerpoint-viewer {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-4;
    border-bottom: 1px solid $border-color;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: $spacing-3;

    h3 {
      margin: 0;
      font-size: $font-size-lg;
      font-weight: $font-weight-semibold;
      color: $text-primary;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    color: $orange-600;
  }

  &__type {
    font-size: $font-size-xs;
    color: $text-secondary;
    display: block;
    margin-top: $spacing-1;
  }

  &__content {
    padding: $spacing-4;
  }

  &__slides {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
  }

  &__slide {
    padding: $spacing-6;
    background: $background-secondary;
    border: 1px solid $border-color;
    border-radius: $border-radius-md;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
  }

  &__slide-number {
    font-size: $font-size-xs;
    color: $text-tertiary;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &__slide-title {
    margin: 0;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $text-primary;
  }

  &__slide-content {
    flex: 1;
    color: $text-secondary;
    line-height: 1.6;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-8;
    gap: $spacing-3;
    color: $text-tertiary;
  }

  &__empty-icon {
    width: 64px;
    height: 64px;
    opacity: 0.3;
  }
}
