/**
 * Lessons Page Styles
 */

@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.lessons-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: $spacing-12 $spacing-4;

  @include respond-to(sm) {
    padding: $spacing-12 $spacing-6;
  }

  @include respond-to(lg) {
    padding: $spacing-12 $spacing-8;
  }

  &__header {
    margin-bottom: $spacing-8;
  }

  &__title {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
    color: $gray-900;
    margin-bottom: $spacing-2;
  }

  &__subtitle {
    color: $gray-600;
  }

  &__search {
    margin-bottom: $spacing-6;
  }

  &__search-container {
    @include flex-start;
    gap: $spacing-4;
  }

  &__search-input {
    flex: 1;
  }

  &__error {
    margin-bottom: $spacing-6;
    padding: $spacing-4;
    background-color: $error-50;
    border: 1px solid $error-200;
    border-radius: $border-radius-lg;

    p {
      color: $error-800;
      margin: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-6;

    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__empty {
    text-align: center;
    padding: $spacing-12;

    &-icon {
      width: 4rem;
      height: 4rem;
      color: $gray-400;
      margin: 0 auto $spacing-4;
    }

    &-text {
      color: $gray-600;
      font-size: $font-size-lg;
    }
  }
}

.lesson-card {
  &__header {
    @include flex-start;
    margin-bottom: $spacing-4;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    background-color: $primary-100;
    border-radius: $border-radius-lg;
    @include flex-center;
    margin-left: $spacing-4;
    color: $primary-600;
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $gray-900;
    margin-bottom: $spacing-1;
  }

  &__difficulty {
    display: inline-block;
    padding: $spacing-1 $spacing-2;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    background-color: $gray-100;
    color: $gray-700;
    border-radius: $border-radius-sm;
  }

  &__content {
    color: $gray-600;
    font-size: $font-size-sm;
    margin-bottom: $spacing-4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__actions {
    @include flex-between;
  }
}
