/**
 * Input Styles - أنماط حقل الإدخال
 */

@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.input-wrapper {
  width: 100%;

  &__label {
    display: block;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $gray-700;
    margin-bottom: $spacing-1.5;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    inset-inline-end: $spacing-4;
    width: 1.25rem;
    height: 1.25rem;
    color: $gray-400;
    pointer-events: none;
    z-index: 1;
  }

  &__error {
    margin-top: $spacing-1.5;
    font-size: $font-size-sm;
    color: $error-600;
  }

  &__helper {
    margin-top: $spacing-1.5;
    font-size: $font-size-sm;
    color: $gray-500;
  }
}

.input {
  @include input-base;

  &--has-icon {
    padding-right: calc($spacing-4 * 3);
  }

  &--error {
    @include input-error;
  }
}
