@use '@/styles/abstracts/liquid-variables' as liquid;
@use '@/styles/abstracts/mixins' as *;

.actions {
    display: flex;
    flex-direction: column;
    gap: liquid.$spacing-fluid-md;
    margin-block-start: liquid.$spacing-fluid-lg;
}